ENV_NAME=reportd
ENV_DOMAIN=b-fine.be
REPORTD_IMAGE=ghcr.io/blackberrius/reportd:latest

REPORTD_PROJECT=my-gcp-project
REPORTD_DATASET=reportd
REPORTD_ANALYTICS_TABLE=analytics
REPORTD_REPORTS_TABLE=reports
REPORTD_REPORTS_V2_TABLE=reporting

POSTGRES_USER=reportd
POSTGRES_PASSWORD=reportd
POSTGRES_DB=reportd
